body {
	background-color : #E3E8E8;
	font-family: Tahoma,SimSun,arial, helvetica, sans-serif; 
	font-size: 92%;
	/* line-height: 120%; */
	margin: 0px;
	padding: 0px;
	color:#494D4A;
}
SUP,SUB {
	font-size:11px;
}
a {
	color: #3B4A4A;
	text-decoration:underline; 
}
a:hover {
	color: #930;
	text-decoration: none; 
}
a:visited  {
	color: #45544A;
}
img { border: none; }
/*"
	"font-family: courier, monospace;
*/

pre{
	border-left: 2px solid #AEBDCC;
	background-color: #323232;
	color:#9AEF3F;
	padding: 1em;
	font-family: "Courier New",Georgia,helvetica, sans-serif;  
	white-space: pre;
	/*" begin css 3 or browser specific rules - do not remove!
	see: http://forums.techguy.org/archive/index.php/t-249849.html */
	white-space: pre-wrap;
	word-wrap: break-word;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	/* end css 3 or browser specific rules */
}
UL,OL {
	margin: 0em 0 0 .5em;
	padding: 0 .25em 0em 1em;
}
/*定义声明组*/
DL,DT {
	margin: .25em 0 0 .25em;
	padding: 0em 0em 0em .25em;
}
DT{
	font-weight:bold;
	font-size:105%;
}
DD{
	margin: .25em 0 0 .5em;
	padding: 0 .25em .25em 1em;
}
ul.plain {
	list-style-type: none;
	margin-left: 5px;
	padding-left: 5px;
}
H1,H2,H3,H4,H5,H6{
	font-family: Verdana, arial, helvetica, sans-serif; 
	text-align: left;
	color:#5A695F;
	margin-left : .5em;  
	padding : 4px;
	line-height: 1.2em;
}
H1 { 
	background-color :transparent;
	border-left : 5px solid #404E4E ;
	border-bottom : 1px dashed  #A9B3A9 ;
	font-size: 1.5em;
}
h2 { 
	border-left : 10px solid #526157 ;
	border-bottom : 1px dashed  #A9B3A9 ;
	font-size: 1.4em;
}
h3 {
	border-left : 15px solid #738278 ;
	border-bottom : 1px dashed  #A9B3A9 ;
	font-size: 1.3em;
}

h4 {
	border-left : 20px solid #88938D ;
	border-bottom : 1px dashed  #A9B3A9 ;
	font-size: 1.2em;
}
h5{
	border-left : 25px solid #B2B8B2 ;
	border-bottom : 1px dashed  #A9B3A9 ;
	font-size: 1.1em;
}
h6{
	border-left : 30px solid #C4C8C4 ;
	border-bottom : 1px dashed  #A9B3A9 ;
	font-size: 1em;
}

/*padding:5px 15px 10px 15px;  */
#banner {
	font-family: "Courier New",Georgia,Verdana, arial, helvetica, sans-serif;
	color:#CED8CE;
	background:#25342A;
	padding-left: 10px;
	letter-spacing: .2em;
	font-size:24px;
	font-weight:bold ;
	border-top:4px solid #738278;
	border-bottom: 0px solid  #4A584A;
}
#banner A{
	color:#E0FFB8;
	text-decoration:none;
}
#banner A:hover{
	color:#DAF4DA;
	text-decoration:overline;
}
#banner SUP,SUB{
	font-size:12px;
	color:#DAE4DA;
}
#banner P#main{
	margin: 4px;
	padding: 4px;
}
#banner P#sub{
	font-size:12px;letter-spacing: 5px;
	margin: 4px;
	padding: 4px 4px 10px 4px;
}
#banner DIV#recent {
	border : 0px dotted #930;
	color:#DAE4DA;
	font-family: Georgia,arial, helvetica,sans-serif;
	position : absolute ;
	top: 2em;
	left: 39%;
	font-size:16px;
	letter-spacing: 2px;
}
/*text-transform:uppercase;*/
#content { 
	width: 69%;
	position: absolute;	
	background-color: transparence;
	border-right: 0px dotted #4A584A;
	margin: 0px;
	padding: 10px 5px 10px 10px;
	}	
/*<h2>Mon, 23 Jan 2006</h2>*/
h2.blosxomDate{
	font-family: Georgia,Verdana, arial, helvetica, sans-serif;
	text-align: right;
	border:0px solid #2B3A3A;
	margin: 0px 5px 5px 0px;
	padding: 0px 15px 0px 0px;
	border-bottom: 1px solid #2B3A3A;
}
H3#blosxomTitle {
	font-size: 90%;
	border-left:4px solid #88938D;
	border-bottom : 0px dashed  #A9B3A9 ;
	background-color: #546359;
	color:#A7AFA7;
	padding: 4px;
	margin: 5px 0px 0px 0px;
	font-weight:normal;
}

H3#blosxomTitle a { 
	color: #DDDDD0;
}

.blosxomStory{
	padding: 4px; 
	font-size: 92%;   
	border-left:2px solid #88938D;
	background-color: #ECEEEC;
}

.blosxomStory a { 
	color:#835959;
}

/*
"font-family: "Courier New",Georgia,helvetica, sans-serif; 
*/
.blosxomStoryLinks{
	font-size:90%;
	padding: 2px;
	margin: 0px;
	border:0px dotted #2B3A3A;
	background-color: #546359;
	color:#A7AFA7;
}
.blosxomStoryLinks a {
	color: #DDDDD0;
	text-decoration:none; 
}
.blosxomStoryLinks a:hover {
	color: #DDDDD0;
	text-decoration: underline; 
}
.blosxomStoryLinks a:visited {
	color: #BAC4BB;
}
/*"margin: 1px 0px 2px 0px  */
div.body {
	margin: 0px 10px 0px 10px;
}
div#header {
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	border-bottom: 0px dotted black;
	margin: 0px;
	padding: 0px;
	background-color :#76857B;
}
/*文章大标*/
div#header H1{
	float: left;
	margin: 5px;
	padding: 4px;
	font-size: 150%;
	font-weight : normal;
	color:#DAE4DA;
	border:0px;
}
/*文章副标*/
div#header H2 {
	text-align: right;
	margin: 0em;
	padding: .5em .5em 0em 0em;
	font-size: 14px;
	font-weight : normal;
	border:0px;
	color:#DAE4DA;
	border-right : 2px solid #A7AFA7;
}
/*文章说明*/
div#header H3{
	text-align: right;
	margin: 0em;
	padding: 0em .5em 0em 0em;
	font-size: 12px;
	font-weight : normal;
	border:0px;
	color:#D2D8D2;
	border-bottom : 2px solid #A7AFA7;
	border-right : 2px solid #A7AFA7;
}
div.toc {
	float: right;
	background-color :#76857B;
	color:#BAC4BA;
	border-bottom : 2px solid #A7AFA7;
	border-left :   2px solid #A7AFA7;
	border-right :  2px solid #A7AFA7;
	padding: .5em 0em .5em .5em;
	margin: -2px 0px 0px 0px;
}
div.toc ul {
	padding-left: .75em;
}
div.toc li {
	font-size: 12px;
}
div.toc a {
	text-decoration: none;
	color:#DAE4DA;
}
div.toc a:hover {
	text-decoration: underline;
}

code{
	font-family: "Courier New",Georgia,helvetica, sans-serif;
	padding: .1em;
	color:#835959;
	font-size: 110%;
	font-weight:bold ;
}

